[Unit]
Description=uWSGI instance to serve LootGen
After=network.target

[Service]
User=root
Group=www-data
WorkingDirectory=/app/LootGen/api

ExecStart=/bin/uwsgi --ini LootGen.ini

[Install]
WantedBy=multi-user.target
