[Unit]
Description=uWSGI instance to serve LootGen
After=network.target

[Service]
User=pi
Group=www-data
WorkingDirectory=/home/pi/docker/LootGen/api

ExecStart=uwsgi --ini LootGen.ini

[Install]
WantedBy=multi-user.target
